In [1]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv('origin.csv')
del df['Unnamed: 0.1']
del df['Unnamed: 0']

In [60]:
df['hourday'] = pd.to_datetime(df['hour'], errors='coerce').dt.hour
df['weekday'] = pd.to_datetime(df['hour'], errors='coerce').dt.dayofweek
df['yearday'] = pd.to_datetime(df['hour'], errors='coerce').dt.dayofyear

df.columns =['datetime', 'meter', 'weekday', 'hourday', 'yearday']
df.head()

                datetime       meter  weekday  hourday  yearday
0  2019-01-01 00:00:00.0  317.547001        0        1        1
1  2019-01-01 01:00:00.0  300.815000        1        1        1
2  2019-01-01 02:00:00.0  270.868000        2        1        1
3  2019-01-01 03:00:00.0  267.668000        3        1        1
4  2019-01-01 04:00:00.0  249.396001        4        1        1

In [61]:
df['datetime'] = pd.to_datetime(df['datetime'], errors='coerce').dt.strftime('%Y-%m-%d %H:%M:%S')

In [62]:
temp = pd.read_csv('temp.csv')
temp['datetime'][0]

'2019-01-01 00:00:00'

In [79]:
df_full = df.merge(temp, on='datetime', how='left')
len(df_full)

17448

In [81]:
len(df_full.dropna())

17448

In [80]:
df_full = df_full.fillna(method='ffill')

In [66]:
df_full['datetime'] = pd.to_datetime(df_full['datetime'])

In [76]:
t = []
for index, row in df_full.iterrows():
    if row['temp'] == 'NaN': 
        print('na')

In [82]:
df_full.to_csv('data_accurateTemp.csv')

In [83]:
df_full

                  datetime       meter  weekday  hourday  yearday  temp
0      2019-01-01 00:00:00  317.547001        0        1        1   7.7
1      2019-01-01 01:00:00  300.815000        1        1        1   7.9
2      2019-01-01 02:00:00  270.868000        2        1        1   7.9
3      2019-01-01 03:00:00  267.668000        3        1        1   7.9
4      2019-01-01 04:00:00  249.396001        4        1        1   8.0
...                    ...         ...      ...      ...      ...   ...
17443  2020-12-30 19:00:00  437.727999       19        2      365   4.9
17444  2020-12-30 20:00:00  394.090000       20        2      365   4.9
17445  2020-12-30 21:00:00  372.347000       21        2      365   4.7
17446  2020-12-30 22:00:00  346.229000       22        2      365   4.7
17447  2020-12-30 23:00:00  319.109000       23        2      365   5.0

[17448 rows x 6 columns]

In [4]:
import torch
import torch.nn as nn
rnn = nn.LSTM(10, 20, 2)
input = torch.randn(5, 3, 10)
h0 = torch.randn(2, 3, 20)
c0 = torch.randn(2, 3, 20)
output, (hn, cn) = rnn(input, (h0, c0))

In [9]:
X = np.sort(5 * np.random.rand(40, 2), axis=0)
y = np.sin(X).ravel()

In [13]:
y.shape

(80,)

In [11]:
X.shape

(40, 2)

In [15]:
for i in range(3,4):
    print(i)

3