In [33]:
import json
from datetime import date, timedelta
import psycopg2
import pandas as pd
import os

In [21]:
#create new table
conn = psycopg2.connect(host="localhost", port = 5432, user="postgres", password="read")
cur = conn.cursor()
cur.execute("""
CREATE TABLE consumption(
id SERIAL, 
Dato DATE, 
Time INT, 
InstallationsID INT, 
MeterDescribe VARCHAR, 
MeterType VARCHAR, 
MeterValue FLOAT(8), 
ProduktkomponentType VARCHAR(255), 
Datetime timestamptz, 
FullAdresses VARCHAR(255), 
PRIMARY KEY (id) )
""")
conn.commit()

In [54]:
#copy data to database
conn = psycopg2.connect(host="localhost", port = 5432, user="postgres", password="read")
cur = conn.cursor()

path = 'data/2020/monthly/'
files = os.listdir(path)

for index, file in enumerate(files):
    print(file)
    with open(os.path.join(path,file), 'r') as f:
        next(f) # Skip the header row.
        cur.copy_from(f, 'consumption', sep=',')
conn.commit()

tref01.csv
tref02.csv
tref03.csv
tref04.csv
tref05.csv
tref06.csv
tref07.csv
tref08.csv

In [53]:
#refomat csv file
path = 'data/2020/monthly/'
files = os.listdir(path)
for index, file in enumerate(files):
    df = pd.read_csv(os.path.join(path,file))
    df = df.drop(columns=['Unnamed: 0','Unnamed: 0.1'])
    df.to_csv(os.path.join(path,file))

In [52]:
df = pd.read_csv('data/2020/monthly/tref01.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Dato,Time,InstallationsID,MeterDescribe,MeterType,MeterValue,ProduktkomponentType,Datetime,FullAdresses
0,0,0,2020-01-09 01:00:00,1500,1101863,EL måler,Tidsserie-Va-01,0.002,VAND,2020-01-09 16:00:00,Ravnsgårdsvej 107 7000
1,1,1,2020-01-13 01:00:00,1800,1101863,EL måler,Tidsserie-Va-01,0.002,VAND,2020-01-13 19:00:00,Ravnsgårdsvej 107 7000
2,2,2,2020-01-22 01:00:00,1500,1101863,EL måler,Tidsserie-Va-01,0.002,VAND,2020-01-22 16:00:00,Ravnsgårdsvej 107 7000
3,3,3,2020-01-26 01:00:00,1400,1101863,EL måler,Tidsserie-Va-01,0.002,VAND,2020-01-26 15:00:00,Ravnsgårdsvej 107 7000
4,4,4,2020-01-28 01:00:00,1100,1101863,EL måler,Tidsserie-Va-01,0.002,VAND,2020-01-28 12:00:00,Ravnsgårdsvej 107 7000